<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/845b7f6704.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/searchcenter.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet"> 

</head>
<body>
    <nav class="navbar">

       
        <div class="nav-container">
            <div class="logo">
              <a href="/searchcenter"> <img height="80px" width="147px" src="/images/logo.jpg" alt="logo"></a> 
        </div> 
        <div style="margin-top: 2px;" class="navlist">
            <ul>
                <li><a href="/myslots">My Slot</a></li>
              
                <li><a href="/logout">Sign Out</a></li>
               
                
            </ul>
        </div>
           

        </div>
    </nav>
   
        
        <h1 class="title">Search Vaccination Center</h1>
        <form action="/searchcenter" method="POST">
            <input type="text" name="search" id="ser" placeholder="Enter City Name..">
            <button type="submit">Search</button>
        </form>
   


    </body>
    </html>